.icon {
    max-height: 50px;
    max-width: 50px;
}

.icon-big {
    max-height: 100px;
    max-width: 100px;
}

.icon-xl {
    max-height: 500px;
    max-width: 500px;
}

.icon-loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
