@import "min/carousel.min.css";

.card-image {
    max-width: 280px;
    max-height: 280px;
}

.album {
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: none !important;
}

.card > img {
    margin-bottom: .75rem;
}

.card-text {
    font-size: 85%;
}

.legend-text {
    font-size: 200%;
}

.legend-date {
    font-size: 125%;
}
