@import "min/bootstrap.min.css";
@import "./icon.css";

body {
    padding-bottom: 30px;
    line-height: 1.5;
    font-family: Georgia, "Times New Roman", Times, serif;
}

img {
    max-width: 100%;
}

textarea {
    width: 100%;
}

.error {
    color: #700;
    font-weight: bold;
}
