.signup-login-box {
    width: 300px;
    margin: auto;
    padding: 20px;
}

.signup-login-box input {
    width: 100%;
}

.input {
    margin-bottom: 15px;
}

.hint {
    font-size: 0.9em;
    color: #808080;
}

.divider {
    text-align: center;
    margin: 25px 0px;
}
